div {
    width: 100px; 
    height: 100px;
    background-color: purple; 
}
div:hover {
    animation-name: animate-background; 
    animation-duration: 5s;
    }
    @keyframes animate-background {
    0% {
    background-color: orange; 
}
100% {
    background-color: green;
    }
    }